body { background-color: #9e13d6;}

#default_text { text-align: center; padding: 10% 0% 5% 0%}

#breath_button { text-align: center; }

#prompt { text-align: center; width: 20%; margin: 0% 40% 0% 40%; padding: 0%}
